.clothes-section {
  display: inline-grid;
  justify-items: space-between;
  margin: 0;
}

.clothes-section__header {
  display: flex;
  padding: 3px;
}

.clothes-section__items {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  border-radius: 5px;
  border: 1px;
  justify-items: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clothes-section__title {
  width: 110px;
  height: 25px;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}

.clothes-section__add-new {
  width: 110px;
  height: 20px;
  margin: 20px 0;
  border: none;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}
