.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../assets/close-btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  height: 20px;
  width: 20px;
}

.modal__delete-content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  max-height: 250px;
  max-width: 496px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  justify-content: space-around;
}

.modal__delete-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 10px;
  top: 60px;
  font-size: 20;
  align-items: center;
}

.modal__delete-subtitle {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;
  top: 70px;
  font-size: 20;
  align-items: center;
}

.modal__btn-choice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__delete-yes {
  color: rgba(255, 77, 0, 1);
  font-size: 20px;
  border: none;
  max-height: 36px;
  max-width: 200px;
  padding-bottom: 24px;
  left: 40px;
  border-radius: 8px;
  position: relative;
  margin: 0;
  background-color: #fff;
}

.modal__delete-no {
  margin: 0;
  border: none;
  font-size: 20px;
  line-height: 24px;
  top: 80px;
  right: 60px;
  padding-bottom: 40px;
  position: relative;
  background-color: #fff;
}
