.header {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
  padding-left: 40px;
}

.header__date-location {
  padding-top: 11px;
  padding-right: 500px;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
}

.header__add-clothes {
  max-width: 116px;
  max-height: 24px;
  margin: 0 20px 0 auto;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
  border: none;
}
.header__user-name {
  margin: 0;
  max-width: 157px;
  max-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
}

.header__user-avatar {
  height: 40px;
  width: 40px;
}

.header__profile-link {
  text-decoration: none;
  color: #000;
  display: flex;
}
