.modal {
  margin: 0;
}

.modal__content-type-image {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  max-height: 640px;
  height: 100%;
  max-width: 498px;
  width: 100%;
  border-radius: 10px;
  justify-content: space-around;
}

.modal__image {
  margin: 0, auto;
  padding: 0;
  width: 100%;
  max-height: 498px;
  justify-content: none;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
}
.modal__weather {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.modal__delete-btn {
  color: rgba(255, 77, 0, 1);
  border: none;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  right: 50px;
  bottom: 93px;
  background-color: #fff;
}
