.profile {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 0 0;
  padding: 0 0;
}

.profile__sidebar {
  margin: 0;
  font-family: "CabinetGrotesk-Bold", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}
